.container {
  position: relative;
  display: flex;
}

.container select {
  font-size: 1.1rem;
  border: 2px solid rgba(240, 140, 0, 0.7);
  border-radius: 5px;
}

.container img {
  background-color: #f2981a;
  border-radius: 7px;
}

.container img,
.container select {
  height: 100%;
  left: 17rem;
  padding: 4px 6px;
  position: absolute;
  align-self: center;
  animation: selector 0.5s;
}

.container select:focus {
  outline: none;
  inset: none;
  border: 2px solid rgba(240, 140, 0, 0.5);
}

.container input {
  display: inline;
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.container.with-selector input {
  display: inline;
  width: 46%;
  margin-left: 52%;
  transform: translateX(-50%);
}

.container img:hover {
  cursor: pointer;
}

@keyframes selector {
  0% {
    transform: scaleX(1%);
  }
}

@media screen and (min-width: 330px) and (max-width: 500px) {
  .container {
    position: relative;
    display: flex;
    height: 1.8rem;
  }

  .container select {
    font-size: 0.7rem;
    border: 2px solid rgba(240, 140, 0, 0.7);
    border-radius: 5px;
    left: 4%;
    width: 21%;
  }

  .container img {
    background-color: #f2981a;
    border-radius: 7px;
    left: 10%;
  }

  .container img,
  .container select {
    height: 100%;
    padding: 2px;
    position: absolute;
    align-self: center;
    animation: selector 0.5s;
  }

  .container select:focus {
    outline: none;
    inset: none;
    border: 2px solid rgba(240, 140, 0, 0.5);
  }

  .container input {
    display: inline;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
  }

  .container.with-selector input {
    display: inline;
    width: 46%;
    margin-left: 52%;
    transform: translateX(-50%);
  }

  .container img:hover {
    cursor: pointer;
  }
}
