.container {
  position: relative;
  display: flex;
  /* margin-bottom: 2rem; */
  /* margin: 2rem 15rem;
    gap: 10rem;*/
  /* width: 63%;
    margin-left: 50%;
    transform: translateX(-50%);
    gap: 5rem; */
}

.container select {
  font-size: 1.1rem;
  border: 2px solid rgba(240, 140, 0, 0.7);
  border-radius: 5px;
}

.container img {
  background-color: #f2981a;
  border-radius: 7px;
}

.container img,
.container select {
  height: 100%;
  left: 17rem;
  padding: 4px 6px;
  position: absolute;
  align-self: center;
  animation: selector 0.5s;
}

.container select:focus {
  outline: none;
  inset: none;
  border: 2px solid rgba(240, 140, 0, 0.5);
}

.container input {
  display: inline;
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.container.with-selector input {
  display: inline;
  width: 46%;
  margin-left: 52%;
  transform: translateX(-50%);
}

.container img:hover {
  cursor: pointer;
}

@keyframes selector {
  0% {
    transform: scaleX(1%);
  }
}
